<section class="container mt-20 md:mt-30">
  <div class="flex items-center justify-between mb-10">
    <h1 class="font-bold text-3xl text-[var(--text-dark)]">Special Offers</h1>
    <a href="#" class="text-black font-medium">See All</a>
  </div>

  <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-6 mt-6">
    @for (item of destinations; track item.id) {
    <div class="group w-full h-[180px] overflow-hidden relative rounded-2xl cursor-pointer">
      <img [src]="'/images/' + item.image" [alt]="item.alt"
        class="w-full h-full object-cover transition-transform duration-500 group-hover:scale-110" />

      <div class="absolute top-1/2 left-1/2 -translate-x-1/2 -translate-y-1/2 text-start w-full p-8">

        <p class="text-md font-bold mb-1"
           [ngClass]="item.id === '3' ? 'text-black' : 'text-gray-200'">
           {{ item.text2 }}
        </p>

        <p class="text-2xl font-bold tracking-wide w-50 leading-tight"
           [class.text-black]="item.id === '3'"
           [class.text-white]="item.id !== '3'">
           {{ item.text1 }}
        </p>

        <p class="text-md font-bold mt-1"
           [ngClass]="item.id === '3' ? 'text-black' : 'text-gray-200'">
           {{ item.text3 }}
        </p>
      </div>
    </div>
    }
  </div>
</section>
