<section class="relative bg-(--primary-color) border-b border-gray-100 py-20 overflow-hidden">
  <div class="container mx-auto px-6 text-start relative z-10">
    <h1 class="text-4xl md:text-6xl font-extrabold text-gray-200 mb-6 tracking-tight">
      Complete Your Booking
    </h1>
    <p class="text-gray-200 max-w-lg  text-lg">
      Follow the steps below to finalize your travel arrangements
    </p>
  </div>
</section>

<section class="bg-white sticky top-22 z-30 py-6 shadow-sm">
  <div class="max-w-7xl mx-auto px-4">
    <div class="flex justify-between items-center">
      @for (step of steps; track step.number; let idx = $index) {
      <div class="flex items-center flex-1 justify-center lg:justify-start">
        <div class="flex items-center justify-center w-10 h-10 rounded-full font-bold text-sm transition-all" [class]="
              currentStep >= step.number
                ? 'bg-orange-500 text-white shadow-md'
                : 'bg-gray-200 text-gray-500'
            ">
          @if (currentStep > step.number) {
          <i class="ri-check-line text-lg"></i>
          } @else {
          {{ step.number }}
          }
        </div>
        <div class="hidden md:block ml-3">
          <p class="text-[10px] font-black uppercase tracking-wider" [class.text-orange-500]="currentStep >= step.number">
            {{ step.title }}
          </p>
        </div>
        @if (idx < steps.length - 1) { <div class="flex-1 h-0.5 mx-4 hidden lg:block" [class]="currentStep > step.number ? 'bg-(--primary-color)' : 'bg-gray-200'">
        </div>
        }
      </div>
      }
    </div>
  </div>
</section>

<main class="max-w-7xl mx-auto px-4 py-10 grid grid-cols-1 lg:grid-cols-3 gap-8">
  <div class="lg:col-span-2">
    <form #bookingForm="ngForm" novalidate>

      @if (currentStep === 1) {
      <div class="space-y-6 animate-in fade-in slide-in-from-bottom-4 duration-500">
        <div class="relative h-64 overflow-hidden rounded-3xl shadow-lg">
          <img [src]="'/images/' + selectedTour?.image" class="w-full h-full object-cover">
          <div class="absolute top-4 left-4">
            <span class="bg-(--primary-color) text-white text-[10px] font-bold px-3 py-1 rounded-full uppercase tracking-tighter">
              {{ selectedTour?.category }}
            </span>
          </div>
        </div>
        <div class="flex flex-col md:flex-row justify-between items-start">
          <div>
              <i class="ri-map-pin-2-fill text-(--primary-color)"></i> {{ selectedTour?.location }}

            <h1 class="text-3xl font-black text-gray-900 leading-tight">{{ selectedTour?.title }}</h1>
            <p class="text-gray-400 mt-1 flex items-center gap-1 uppercase text-xs font-bold tracking-widest">
            </p>
          </div>
          <div class="text-right">
            <p class="text-xs text-gray-400 font-bold uppercase">Price per person</p>
            <p class="text-3xl font-black text-(--primary-color)">{{ selectedTour?.price | currency:'USD' }}</p>
          </div>
        </div>
      </div>
      }

@if (currentStep === 2) {
<div class="bg-white p-8 rounded-3xl border border-gray-100 shadow-sm space-y-8 animate-in fade-in slide-in-from-bottom-4 duration-500">
  <h2 class="text-2xl font-bold flex items-center gap-3">
    <i class="ri-calendar-check-line text-(--primary-color)"></i> Select Schedule
  </h2>

  <div class="grid grid-cols-1 md:grid-cols-2 gap-6">
    <div class="space-y-2 relative">
      <label class="block text-xs font-black uppercase tracking-widest text-gray-400 ml-1">Preferred Start Date</label>

      <div (click)="$event.stopPropagation(); isCalendarOpen = !isCalendarOpen"
           class="w-full p-4 bg-gray-50 rounded-2xl flex items-center justify-between cursor-pointer border-2 border-transparent transition-all hover:border-orange-100 group"
           [class.ring-2]="isCalendarOpen"
           [class.ring-(--primary-color)]="isCalendarOpen">

        <div class="flex flex-col">
          <span class="text-sm font-bold" [class.text-gray-400]="!bookingData.startDate">
            {{ bookingData.startDate ? (bookingData.startDate | date:'fullDate') : 'Choose a date' }}
          </span>
        </div>
        <i class="ri-calendar-event-line text-xl transition-colors group-hover:text-(--primary-color)"
           [class.text-(--primary-color)]="bookingData.startDate"
           [class.text-gray-300]="!bookingData.startDate"></i>
      </div>

      <input type="hidden" name="startDate" [(ngModel)]="bookingData.startDate" required #startDate="ngModel">

      @if (isCalendarOpen) {
        <div class="absolute left-0 top-[105%] z-[100] origin-top">
          <app-custom-calendar (dateSelected)="onDatePicked($event)"></app-custom-calendar>
        </div>
      }

      @if(startDate.invalid && startDate.touched) {
        <p class="text-(--primary-color) text-[10px] font-bold italic ml-1">Please select a travel date.</p>
      }
    </div>

    <div class="space-y-2">
      <label class="block text-xs font-black uppercase tracking-widest text-gray-400 ml-1">Number of Travelers</label>
      <div class="relative flex items-center">
        <i class="ri-group-line absolute left-4 text-gray-400 text-lg"></i>
        <input type="number" name="travelers" [(ngModel)]="bookingData.travelers" min="1" required
               class="w-full p-4 pl-12 bg-gray-50 border-0 rounded-2xl font-bold focus:ring-2 focus:ring-(--primary-color) transition-all"
               placeholder="1" />
      </div>
      <p class="text-[9px] text-gray-400 font-medium ml-1">Maximum 10 people per booking</p>
    </div>
  </div>
</div>
}

      @if (currentStep === 3) {
      <div class="bg-white p-8 rounded-3xl border border-gray-100 shadow-sm space-y-6">
        <h2 class="text-2xl font-bold flex items-center gap-3">
          <i class="ri-user-heart-line text-(--primary-color)"></i> Passenger Info
        </h2>
        <div class="grid  grid-cols-1 md:grid-cols-2 gap-4">
          <div class="space-y-1">
            <input type="text" name="firstName" placeholder="First Name" [(ngModel)]="bookingData.firstName" #fName="ngModel" required
              [class.ring-2]="fName.invalid && fName.touched" [class.ring-red-500]="fName.invalid && fName.touched"
              class="w-full p-4 bg-gray-50 border-0 rounded-2xl" />
            @if(fName.invalid && fName.touched) { <p class="text-(--primary-color) text-[10px] font-bold italic ml-1">Required</p> }
          </div>
          <div class="space-y-1">
            <input type="text" name="lastName" placeholder="Last Name" [(ngModel)]="bookingData.lastName" #lName="ngModel" required
              [class.ring-2]="lName.invalid && lName.touched" [class.ring-red-500]="lName.invalid && lName.touched"
              class="w-full p-4 bg-gray-50 border-0 rounded-2xl" />
            @if(lName.invalid && lName.touched) { <p class="text-(--primary-color) text-[10px] font-bold italic ml-1">Required</p> }
          </div>
        </div>
        <div class="space-y-1">
          <input type="email" name="email" placeholder="Email Address" [(ngModel)]="bookingData.email" #bEmail="ngModel" required email
            [class.ring-2]="bEmail.invalid && bEmail.touched" [class.ring-red-500]="bEmail.invalid && bEmail.touched"
            class="w-full p-4 bg-gray-50 border-0 rounded-2xl" />
          @if(bEmail.invalid && bEmail.touched) { <p class="text-(--primary-color) text-[10px] font-bold italic ml-1">Please enter a valid email.</p> }
        </div>
        <div class="space-y-1">
          <input type="tel" name="phone" placeholder="Phone Number" [(ngModel)]="bookingData.phone" #phone="ngModel" required
            [class.ring-2]="phone.invalid && phone.touched" [class.ring-red-500]="phone.invalid && phone.touched"
            class="w-full p-4 bg-gray-50 border-0 rounded-2xl" />
           @if(phone.invalid && phone.touched) { <p class="text-(--primary-color) text-[10px] font-bold italic ml-1">Phone number required.</p> }
        </div>
      </div>
      }

      @if (currentStep === 4) {
      <div class="bg-white p-8 rounded-3xl border border-gray-100 shadow-sm space-y-6">
        <h2 class="text-2xl font-bold flex items-center gap-3">
          <i class="ri-secure-payment-line text-(--primary-color)"></i> Checkout
        </h2>

        <div class="space-y-2">
          <label class="text-xs font-bold text-gray-400 uppercase">Card Number</label>
          <input type="text" name="cardNumber" placeholder="16 Digits" [(ngModel)]="bookingData.cardNumber" #card="ngModel"
            required minlength="16" maxlength="16" (input)="formatCardNumber($event)"
            [class.ring-2]="card.invalid && card.touched" [class.ring-red-500]="card.invalid && card.touched"
            class="w-full p-4 bg-gray-50 border-0 rounded-2xl font-mono" />
        </div>

        <div class="grid grid-cols-1 md:grid-cols-2 gap-4">
          <div class="space-y-2">
            <label class="text-xs font-bold text-gray-400 uppercase">Expiry (MM/YY)</label>
            <input type="text" name="expiry" placeholder="MM/YY" [(ngModel)]="bookingData.expiry" #expiry="ngModel"
              required pattern="(0[1-9]|1[0-2])\/[0-9]{2}" maxlength="5" (input)="formatExpiry($event)"
              [class.ring-2]="expiry.invalid && expiry.touched" [class.ring-red-500]="expiry.invalid && expiry.touched"
              class="w-full p-4 bg-gray-50 border-0 rounded-2xl text-center font-mono" />
            @if(expiry.invalid && expiry.touched) { <p class="text-(--primary-color) text-[10px] font-bold italic">Invalid Expiry</p> }
          </div>

          <div class="space-y-2">
            <label class="text-xs font-bold text-gray-400 uppercase">CVV</label>
            <input type="password" name="cvv" placeholder="***" [(ngModel)]="bookingData.cvv" #cvv="ngModel"
              required minlength="3" maxlength="4" (input)="formatCVV($event)"
              [class.ring-2]="cvv.invalid && cvv.touched" [class.ring-red-500]="cvv.invalid && cvv.touched"
              class="w-full p-4 bg-gray-50 border-0 rounded-2xl text-center" />
          </div>
        </div>
      </div>
      }
    </form>

    @if (currentStep === 5) {
    <div class="text-center py-16 px-8 bg-white rounded-3xl shadow-2xl border-b-8 border-(--primary-color)">
      <div class="w-24 h-24 bg-green-100 text-green-600 rounded-full flex items-center justify-center mx-auto mb-8">
        <i class="ri-checkbox-circle-fill text-6xl animate-bounce"></i>
      </div>
      <h2 class="text-4xl font-black italic uppercase">YOU'RE GOING TO {{ selectedTour?.destination }}!</h2>
      <p class="text-gray-500 mt-4">Confirmation Code: <span class="font-mono font-bold text-black">{{ confirmationCode }}</span></p>
      <button routerLink="/tour" class="mt-10 px-10 py-4 bg-black text-white rounded-full font-bold hover:bg-(--primary-color) transition-colors cursor-pointer">Book Another Trip</button>
    </div>
    }

    @if (currentStep < 5) {
    <div class="mt-12 flex  flex-col sm:flex-row justify-between items-center gap-4">
      <button (click)="prevStep()" [disabled]="currentStep === 1" class="text-gray-400 font-bold flex items-center gap-2 disabled:opacity-0 cursor-pointer">
        <i class="ri-arrow-left-line"></i> Go Back
      </button>
      <button (click)="nextStep()" [disabled]="isSubmitting || bookingForm.invalid"
        class="px-12 py-5 bg-orange-500 text-white rounded-2xl font-black shadow-lg shadow-orange-200 hover:scale-105 transition-transform flex items-center gap-3 cursor-pointer disabled:opacity-50">
        @if (isSubmitting) {
          <i class="ri-loader-4-line animate-spin"></i> Processing...
        } @else {
          {{ currentStep === 4 ? 'Complete Booking' : 'Continue' }} <i class="ri-arrow-right-line"></i>
        }
      </button>
    </div>
    }
  </div>

  <aside class="lg:col-span-1">
    <div class="bg-black text-white p-8 rounded-3xl sticky top-48 shadow-xl">
      <h3 class="text-xl font-bold mb-6 flex justify-between items-center">Summary <i class="ri-information-line text-gray-500"></i></h3>
      <div class="space-y-4 text-sm">
        <div class="flex justify-between text-gray-400"><span>Base Price</span><span class="text-white font-bold">{{ selectedTour?.price | currency: 'USD' }}</span></div>
        <div class="flex justify-between text-gray-400"><span>Travelers</span><span class="text-white font-bold">x{{ bookingData.travelers }}</span></div>
        <div class="pt-4 border-t border-gray-800 flex justify-between items-end">
          <span class="font-bold">Total Amount</span>
          <span class="text-3xl font-black text-(--primary-color)">{{ totalAmount | currency: 'USD' }}</span>
        </div>
      </div>
      <div class="mt-8 p-4 bg-gray-900 rounded-2xl flex items-center gap-3 text-[10px] text-gray-400 leading-tight">
        <i class="ri-shield-flash-line text-green-400 text-xl"></i>
        <span>Secure Payment processed via Mangocoders Gateway.</span>
      </div>
    </div>
  </aside>
</main>
