<section class="mt-20 md:mt-30 explore-tour-section relative overflow-hidden">

  <div class="container mx-auto relative z-10 py-16 md:py-32 lg:py-48 px-6">
    <div class="grid grid-cols-1 lg:grid-cols-2 gap-12 items-center">

      <div class="text-center lg:text-left">
        <h2 class="text-black text-3xl md:text-5xl font-bold tracking-tight leading-tight max-w-xl mx-auto lg:mx-0">
          Subscribe To Our Mailing List And Stay Up To Date
        </h2>
      </div>

      <div class="flex flex-col sm:flex-row gap-4 items-center lg:justify-end w-full">

      </div>

    </div>
  </div>
</section>
