.explore-tour-section{
  background: url("/images/callofactionbg.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    min-height: 400px;
    display: flex;
    align-items: center;
    justify-content: center;
}



