<section class="mt-20 md:mt-30 popular-things-section">
  <div class="container py-20">
  <div class="flex items-center justify-between mb-10">
  <h1 class="font-bold text-3xl  text-(--text-dark)">Popular things to do</h1>
  <a href="#">See All</a>
  </div>

  <div class="grid grid-cols-1 md:grid-cols-3 lg:grid-cols-6 gap-6 mt-6">
    @for (item of popularthings; track item.name) {
    <div class="trending-box group w-full overflow-hidden relative rounded-2xl cursor-pointer  bg-white flex items-center justify-center flex-col py-8 px-6">
      <div class="trending-icon w-20 h-20 bg-[#FEF7F4] rounded-full overflow-hidden flex items-center justify-center">
          <img [src]="'/images/' + item.image" [alt]="item.name"/>
      </div>


      <div class="text-center mt-4">
        <p class="text-gray-800 text-md font-medium tracking-wide">{{ item.name }}</p>
        <p class="text-gray-500 text-sm font-medium">{{ item.tours }} Tours</p>
      </div>
    </div>
    }
  </div>
  </div>
</section>
